body {
    background-image: url('./assets/img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
 
}